{% extends "base.html" %}

{% block content %}
    <h1>Журнал работ</h1>
    {% if current_user.is_authenticated %}
    <a href="/addjob" class="btn btn-secondary">Добавить работу</a>
    {% endif %}
    {% for job in jobs %}
        <h3>Работа # {{ job.id }}</h3>
        <div>
            <table class="table table-success table-striped">
                <tr>
                    <td width="400px">Название работы</td>
                    <td width="150px">Руководитель</td>
                    <td width="100px" align="center">Продолжительность</td>
                    <td width="200px" align="center">Исполнители</td>
                    <td width="100px" align="center">Закончена?</td>
                </tr>
                <tr>
                    <td>{{ job.job.capitalize() }}</td>
                    <td>{{ names[job.team_leader]}}</td>
                    <td align="center">{{ job.work_size }} ч.</td>
                    <td align="center">{{ job.collaborators }}</td>
                    {% if job.is_finished %}
                    <td bgcolor="green" align="center">Закончена</td>
                    {% else %}
                    <td align="center">Не закончена</td>
                    {% endif %}
                </tr>
            </table>
        </div>
    {% if current_user.is_authenticated and current_user.id == job.team_leader or current_user.id == 1 %}
        <div>
            <a href="/editjob/{{ job.id }}" class="btn btn-warning">Редактировать работу</a>
            <a href="/deletejob/{{ job.id }}" class="btn btn-danger">Удалить работу</a>
        </div>
    {% endif %}
    {% endfor %}
{% endblock %}